<h1><%= @student.to_s %></h1> 

<form method="POST" action="student_path(@student)">
    <select name="Active?"> 
        <option value="false">Inactive</option>
        <option value="true">Active</option>
    </select>

</form>
